# every oject in python acts like a object and object has three characterstics

## identity type value

In [1]:
a=20
print(id(a))
print(type(a))
print(a)

1708968400
<class 'int'>
20

In [3]:
b=20
b

20

In [4]:
print(id(b))

1708968400

In [6]:
a=10
b=5.7
c="gitam"
d=2+4j
print(a,b,c,d)
print(type(a),type(b),type(c),type(d))

10 5.7 gitam (2+4j)
<class 'int'> <class 'float'> <class 'str'> <class 'complex'>

# integer ,float,complex,boolean(number types)
## all numbers are not changable(immutable)
### if they are modified new reference is pointing to modified value.

In [7]:
a=10
print(id(a))
a=100
print(id(a))

1708968240
1708969680

In [10]:
a=2+5j
print(a)
print(a.real)
print(a.imag)
print(a.conjugate())
c=complex(5,6)
print(c)

(2+5j)
2.0
5.0
(2-5j)
(5+6j)

In [11]:
c=2+5j
d=5+7j
print(c+d)
print(c*d)
print(c-d)

(7+12j)
(-25+39j)
(-3-2j)

In [13]:
str="gitam"
str1='gitam'
print(str)
print(str1)
print(type(str),type(str1))
print(len(str))

gitam
gitam
<class 'str'> <class 'str'>
5

# type conversions
## int(), float(),complex(),list(),tuple(),dict(),bool()

# input
## its used to give input to the program and its type is string, by using type conversions to convert into other types.

In [16]:
a=input("enter the number\t")
print(type(a))
b=float(a)
print(type(b))
print("number is",b)

enter the number	56
<class 'str'>
<class 'float'>
number is 56.0

In [17]:
# comments in the python
'''
document string
'''

'\ndocument string\n'

In [18]:
a=10
'''
print(" it gives about the resource of python")
'''
b=100
print(a)

10

In [22]:
b="1947"
print(type(b))
print(len(b))
c=int(b)
print(type(c))
print(c)

<class 'str'>
4
<class 'int'>
1947

In [23]:
a=int(input("enter the first number"))
b=float(input("enter the second number"))
c=a+b
print("the sum is",c)

enter the first number10
enter the second number2
the sum is 12.0

# types of operators:
## arthmetic operators
### +,-,*,/(decimal quotient),//(integer),**(power , pow():-) arguments should be integer),%(remainder)

In [35]:
a=20
b=10
print(a/b)
print(a//b)
print(a%b)
print(a**b)

2.0
2
0
10240000000000

# relational operators
## <,<=,>,>=,==,!=

In [40]:
x=20
y=3
print(x<21)
print(x==y)
print(x!=y)
print(float(x<y))
print(float(x>y))

True
False
True
0.0
1.0

# logical
## and or not

In [41]:
x=20
print(x>=20 and x<=20)
print(x>=30 or x<=20)
print(not(x))

True
True
False

# membership operators
## in,not in

In [42]:
str1="army"
print("i" in str1)
print("a" in str1)

False
True

# identity operators
## is, is not

In [43]:
a=45
b=89
print(a is b)
print(a is not b)

False
True

# bitwise operators:(works with 0 and 1)
## &(bitwise and),<<(left shift),>>(right shift),~(ones complement)

# special operators:
## + and , are used for concatenation
## * repetation operator
## [start:stop:step] , slice operator
## range(start,stop,step)
## intendation:( it represents block or{} in c

In [46]:
a=100
print(" the value of a is",a)
str1="gitam"
c=[1,2,3]
d=[4,5,6]
print(c+d)
d="gitam"
print(d*3)
print(d[1:3])
print(list(range(1,10,2)))

 the value of a is 100
[1, 2, 3, 4, 5, 6]
gitamgitamgitam
it
[1, 3, 5, 7, 9]

# control statements in python(decision making)
## if(condition):
        statements #if all the statements follow same intendation.

In [53]:
a=int(input("enter the number"))
if(a>0):
    print("its a positive number")
if(a<0):
    print("negative number")

enter the number51
its a positive number

In [56]:
a=int(input("enter a number"))
if(a%2==0):
 print("even",a)
else:
    print("odd",a)

enter a number51
odd 51

In [ ]:
a=int(input("enter year"))
if(a%4==0 and a%100!=0 or a%400==0):
 print("yes leap year",a)
else:
    print("not a leap year",a)

In [1]:
pwd()

'C:\\Users\\student\\221710310051-day 2'

In [1]:
a,b,c=10,20,30
if(a>b and a>c):
    print(a,"a is big")
elif(b>c):
    print(b,"b is big")
else:
    print(c,"c is big")

30 c is big

In [2]:
a=10
b=20
print("before swapping",a,b)
a,b=b,a
print("after swapping",a,b)

before swapping 10 20
after swapping 20 10

In [3]:
a=10
b=20
c=int(input("enter the choice till 1-4"))
if(c==1):
    print(a+b)
elif(c==2):
    print(a*b)
elif(c==3):
    print(a%b)
elif(c==2):
    print(a//b)

enter the choice till 1-42
200

In [6]:
ch=input("enter the character")
if(ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u'or ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U'):
    print("vowel")
else:
    print("consonant")

enter the characterA
vowel